h1,
h3 {
    text-align: center;
    text-transform: uppercase;
    background: black;
    color: red;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 3px;
}

h1:hover,
h3:hover {
    text-align: center;
    text-transform: uppercase;
    background: red;
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: progress;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .7);
}